#p-button {
    background-color: #FFFFFF;
    border: none;
    color: #1E1E1E;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 9999px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
#p-button:hover {
    background-color: #1E1E1E;
    color: #f2fdffd8;
}
#logout-button {
    background-color: #FFFFFF;
    border: none;
    color: #1E1E1E;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    margin: 4px;
    margin-left: 25px;
    cursor: pointer;
    border-radius: 9999px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
#logout-button:hover {
    background-color: red;
    color: white;
}
#va-button {
    display: flex;
    background-color: #00D9FF;
    border: none;
    color: #1E1E1E;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    display: inline;
    font-weight: 900;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 9999px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    width: 200px; 
    height: 70px; 
}
#va-button:hover {
    background-color: #1E1E1E;
    color: #f2fdffd8;
}
#ex-button {
    display: flex;
    background-color: #FFFFFF;
    border: none;
    color: #1E1E1E;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    display: inline;
    font-weight: 900;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 9999px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    width: 200px; 
    height: 70px;  
}
#ex-button:hover {
    background-color: #1E1E1E;
    color: #f2fdffd8;
}
.center-container {
    display: flex; 
    justify-content: center; 
    align-items: center;  
    height: 15vh;
    gap: 4rem;
}
.table-container #badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 9999px;
    background: red;
    color: white;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
}
a {
    text-decoration: underline;
    color: black
}