.p.button {
    background-color: #FFFFFF;
    border: none;
    color: #1E1E1E;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 9999px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
.p.button:hover {
    background-color: #f2fdffd8;
    color: #1E1E1E;
}
.va.button {
    display: flex;
    background-color: #00D9FF;
    border: none;
    color: #1E1E1E;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    display: inline;
    font-weight: 900;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 9999px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    width: 200px; 
    height: 70px; 
}
.ex.button {
    display: flex;
    background-color: #FFFFFF;
    border: none;
    color: #1E1E1E;
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 32px;
    display: inline;
    font-weight: 900;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 9999px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    width: 200px; 
    height: 70px;  
}
.center-container {
    display: flex; 
    justify-content: center; 
    align-items: center;  
    height: 15vh;
    gap: 4rem;
}
.table-container .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.4);
}